<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageCode</key>
	<string>GMTs</string>
	<key>BBLMLanguageDisplayName</key>
	<string>GMT_sh</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>gmt</string>
		<string>begin</string>
		<string>end</string>
		<string>set</string>
		<string>basemap</string>
		<string>blockmean</string>
		<string>blockmedian</string>
		<string>blockmode</string>
		<string>clear</string>
		<string>clip</string>
		<string>coast</string>
		<string>colorbar</string>
		<string>contour</string>
		<string>dimfilter</string>
		<string>docs</string>
		<string>events</string>
		<string>figure</string>
		<string>filter1d</string>
		<string>fitcircle</string>
		<string>gmt2kml</string>
		<string>gmtconnect</string>
		<string>gmtconvert</string>
		<string>gmtdefaults</string>
		<string>gmtget</string>
		<string>gmtinfo</string>
		<string>gmtlogo</string>
		<string>gmtmath</string>
		<string>gmtregress</string>
		<string>gmtselect</string>
		<string>gmtset</string>
		<string>gmtsimplify</string>
		<string>gmtspatial</string>
		<string>gmtvector</string>
		<string>gmtwhich</string>
		<string>grd2cpt</string>
		<string>grd2kml</string>
		<string>grd2xyz</string>
		<string>grdblend</string>
		<string>grdclip</string>
		<string>grdcontour</string>
		<string>grdconvert</string>
		<string>grdcut</string>
		<string>grdedit</string>
		<string>grdfft</string>
		<string>grdfill</string>
		<string>grdfilter</string>
		<string>grdgradient</string>
		<string>grdhisteq</string>
		<string>grdimage</string>
		<string>grdinfo</string>
		<string>grdlandmask</string>
		<string>grdmask</string>
		<string>grdmath</string>
		<string>grdpaste</string>
		<string>grdproject</string>
		<string>grdsample</string>
		<string>grdtrack</string>
		<string>grdtrend</string>
		<string>grdvector</string>
		<string>grdview</string>
		<string>grdvolume</string>
		<string>greenspline</string>
		<string>histogram</string>
		<string>image</string>
		<string>inset</string>
		<string>kml2gmt</string>
		<string>legend</string>
		<string>makecpt</string>
		<string>mapproject</string>
		<string>mask</string>
		<string>movie</string>
		<string>nearneighbor</string>
		<string>plot</string>
		<string>plot3d</string>
		<string>project</string>
		<string>psconvert</string>
		<string>rose</string>
		<string>sample1d</string>
		<string>solar</string>
		<string>spectrum1d</string>
		<string>sph2grd</string>
		<string>sphdistance</string>
		<string>sphinterpolate</string>
		<string>sphtriangulate</string>
		<string>splitxyz</string>
		<string>subplot</string>
		<string>surface</string>
		<string>ternary</string>
		<string>text</string>
		<string>trend1d</string>
		<string>trend2d</string>
		<string>triangulate</string>
		<string>wiggle</string>
		<string>xyz2grd</string>
		<string>earthtide</string>
		<string>gpsgridder</string>
		<string>velo</string>
		<string>gshhg</string>
		<string>img2grd</string>
		<string>mgd77convert</string>
		<string>mgd77header</string>
		<string>mgd77info</string>
		<string>mgd77list</string>
		<string>mgd77magref</string>
		<string>mgd77manage</string>
		<string>mgd77path</string>
		<string>mgd77sniffer</string>
		<string>mgd77track</string>
		<string>gmtflexure</string>
		<string>gmtgravmag3d</string>
		<string>gravfft</string>
		<string>grdflexure</string>
		<string>grdgravmag3d</string>
		<string>grdredpol</string>
		<string>grdseamount</string>
		<string>talwani2d</string>
		<string>talwani3d</string>
		<string>segy2grd</string>
		<string>segy</string>
		<string>segyz</string>
		<string>coupe</string>
		<string>meca</string>
		<string>polar</string>
		<string>sac</string>
		<string>backtracker</string>
		<string>gmtpmodeler</string>
		<string>grdpmodeler</string>
		<string>grdrotater</string>
		<string>grdspotter</string>
		<string>hotspotter</string>
		<string>originater</string>
		<string>polespotter</string>
		<string>rotconverter</string>
		<string>rotsmoother</string>
		<string>x2sys_binlist</string>
		<string>x2sys_cross</string>
		<string>x2sys_datalist</string>
		<string>x2sys_get</string>
		<string>x2sys_init</string>
		<string>x2sys_list</string>
		<string>x2sys_merge</string>
		<string>x2sys_put</string>
		<string>x2sys_report</string>
		<string>x2sys_solve</string>
		<string>gmt-config</string>
		<string>gmt5syntax</string>
		<string>gmt_shell_functions.sh</string>
		<string>gmtswitch</string>
		<string>img2google</string>
		<string>gmt_init_tmpdir</string>
		<string>gmt_remove_tmpdir</string>
		<string>gmt_clean_up</string>
		<string>gmt_message</string>
		<string>gmt_abort</string>
		<string>gmt_build_movie</string>
		<string>gmt_build_gif</string>
		<string>gmt_build_kmz</string>
		<string>gmt_get_nrecords</string>
		<string>gmt_get_ndatarecords</string>
		<string>gmt_get_nfields</string>
		<string>gmt_get_field</string>
		<string>gmt_get_region</string>
		<string>gmt_get_gridregion</string>
		<string>gmt_get_map_width</string>
		<string>gmt_get_map_height</string>
		<string>gmt_movie_script</string>
		<string>gmt_set_psfile</string>
		<string>gmt_set_pdffile</string>
		<string>gmt_set_framename</string>
		<string>gmt_set_framenext</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>COLOR_BACKGROUND</string>
		<string>COLOR_FOREGROUND</string>
		<string>COLOR_HSV_MAX_S</string>
		<string>COLOR_HSV_MIN_S</string>
		<string>COLOR_HSV_MAX_V</string>
		<string>COLOR_HSV_MIN_V</string>
		<string>COLOR_MODEL</string>
		<string>COLOR_NAN</string>
		<string>DIR_CACHE</string>
		<string>DIR_DATA</string>
		<string>DIR_DCW</string>
		<string>DIR_GSHHGW</string>
		<string>FONT</string>
		<string>FONT_ANNOT</string>
		<string>FONT_ANNOT_PRIMARY</string>
		<string>FONT_ANNOT_SECONDARY</string>
		<string>FONT_HEADING</string>
		<string>FONT_LABEL</string>
		<string>FONT_LOGO</string>
		<string>FONT_TAG</string>
		<string>FONT_TITLE</string>
		<string>FORMAT_CLOCK_IN</string>
		<string>FORMAT_CLOCK_MAP</string>
		<string>FORMAT_CLOCK_OUT</string>
		<string>FORMAT_DATE_IN</string>
		<string>FORMAT_DATE_MAP</string>
		<string>FORMAT_DATE_OUT</string>
		<string>FORMAT_GEO_MAP</string>
		<string>FORMAT_GEO_OUT</string>
		<string>FORMAT_FLOAT_MAP</string>
		<string>FORMAT_FLOAT_OUT</string>
		<string>FORMAT_TIME_MAP</string>
		<string>FORMAT_TIME_PRIMARY_MAP</string>
		<string>FORMAT_TIME_SECONDARY_MAP</string>
		<string>FORMAT_TIME_STAMP</string>
		<string>GMT_AUTO_DOWNLOAD</string>
		<string>GMT_COMPATIBILITY</string>
		<string>GMT_DATA_SERVER</string>
		<string>GMT_DATA_SERVER_LIMIT</string>
		<string>GMT_EXPORT_TYPE</string>
		<string>GMT_EXTRAPOLATE_VAL</string>
		<string>GMT_CUSTOM_LIBS</string>
		<string>GMT_FFT</string>
		<string>GMT_GRAPHICS_FORMAT</string>
		<string>GMT_HISTORY</string>
		<string>GMT_INTERPOLANT</string>
		<string>GMT_LANGUAGE</string>
		<string>GMT_TRIANGULATE</string>
		<string>GMT_VERBOSE</string>
		<string>IO_COL_SEPARATOR</string>
		<string>IO_FIRST_HEADER</string>
		<string>IO_GRIDFILE_FORMAT</string>
		<string>IO_GRIDFILE_SHORTHAND</string>
		<string>IO_HEADER</string>
		<string>IO_HEADER_MARKER</string>
		<string>IO_LONLAT_TOGGLE</string>
		<string>IO_N_HEADER_RECS</string>
		<string>IO_NAN_RECORDS</string>
		<string>IO_NC4_CHUNK_SIZE</string>
		<string>IO_NC4_DEFLATION_LEVEL</string>
		<string>IO_SEGMENT_BINARY</string>
		<string>IO_SEGMENT_MARKER</string>
		<string>MAP_ANNOT_MIN_ANGLE</string>
		<string>MAP_ANNOT_MIN_SPACING</string>
		<string>MAP_ANNOT_OBLIQUE</string>
		<string>MAP_ANNOT_OFFSET</string>
		<string>MAP_ANNOT_OFFSET_PRIMARY</string>
		<string>MAP_ANNOT_OFFSET_SECONDARY</string>
		<string>MAP_ANNOT_ORTHO</string>
		<string>MAP_DEFAULT_PEN</string>
		<string>MAP_DEGREE_SYMBOL</string>
		<string>MAP_FRAME_AXES</string>
		<string>MAP_FRAME_PEN</string>
		<string>MAP_FRAME_TYPE</string>
		<string>MAP_FRAME_WIDTH</string>
		<string>MAP_GRID_CROSS_SIZE</string>
		<string>MAP_GRID_CROSS_SIZE_PRIMARY</string>
		<string>MAP_GRID_CROSS_SIZE_SECONDARY</string>
		<string>MAP_GRID_PEN_PRIMARY</string>
		<string>MAP_GRID_PEN_SECONDARY</string>
		<string>MAP_HEADING_OFFSET</string>
		<string>MAP_LABEL_OFFSET</string>
		<string>MAP_LINE_STEP</string>
		<string>MAP_LOGO</string>
		<string>MAP_LOGO_POS</string>
		<string>MAP_ORIGIN_X</string>
		<string>MAP_ORIGIN_Y</string>
		<string>MAP_POLAR_CAP</string>
		<string>MAP_SCALE_HEIGHT</string>
		<string>MAP_TICK_LENGTH</string>
		<string>MAP_TICK_LENGTH_PRIMARY</string>
		<string>MAP_TICK_LENGTH_SECONDARY</string>
		<string>MAP_TICK_PEN</string>
		<string>MAP_TICK_PEN_PRIMARY</string>
		<string>MAP_TICK_PEN_SECONDARY</string>
		<string>MAP_TITLE_OFFSET</string>
		<string>MAP_VECTOR_SHAPE</string>
		<string>PROJ_AUX_LATITUDE</string>
		<string>PROJ_ELLIPSOID</string>
		<string>Airy</string>
		<string>Airy-Ireland</string>
		<string>Andrae</string>
		<string>APL4.9</string>
		<string>ATS77</string>
		<string>Australian</string>
		<string>Bessel</string>
		<string>Bessel-Namibia</string>
		<string>Bessel-NGO1948</string>
		<string>Bessel-Schwazeck</string>
		<string>Clarke-1858</string>
		<string>Clarke-1866</string>
		<string>Clarke-1866-Michigan</string>
		<string>Clarke-1880</string>
		<string>Clarke-1880-Arc1950</string>
		<string>Clarke-1880-IGN</string>
		<string>Clarke-1880-Jamaica</string>
		<string>Clarke-1880-Merchich</string>
		<string>Clarke-1880-Palestine</string>
		<string>CPM</string>
		<string>Delambre</string>
		<string>Engelis</string>
		<string>Everest-1830</string>
		<string>Everest-1830-Kalianpur</string>
		<string>Everest-1830-Kertau</string>
		<string>Everest-1830-Pakistan</string>
		<string>Everest-1830-Timbalai</string>
		<string>Fischer-1960</string>
		<string>Fischer-1960-SouthAsia</string>
		<string>Fischer-1968</string>
		<string>FlatEarth</string>
		<string>GRS-67</string>
		<string>GRS-80</string>
		<string>Hayford-1909</string>
		<string>Helmert-1906</string>
		<string>Hough</string>
		<string>Hughes-1980</string>
		<string>IAG-75</string>
		<string>Indonesian</string>
		<string>International-1924</string>
		<string>International-1967</string>
		<string>Kaula</string>
		<string>Krassovsky</string>
		<string>Lerch</string>
		<string>Maupertius</string>
		<string>Mercury-1960</string>
		<string>MERIT-83</string>
		<string>Modified-Airy</string>
		<string>Modified-Fischer-1960</string>
		<string>Modified-Mercury-1968</string>
		<string>NWL-10D</string>
		<string>NWL-9D</string>
		<string>OSU86F</string>
		<string>OSU91A</string>
		<string>Plessis</string>
		<string>SGS-85</string>
		<string>South-American</string>
		<string>Sphere</string>
		<string>Struve</string>
		<string>TOPEX</string>
		<string>Walbeck</string>
		<string>War-Office</string>
		<string>WGS-60</string>
		<string>WGS-66</string>
		<string>WGS-72</string>
		<string>WGS-84</string>
		<string>Moon</string>
		<string>Mercury</string>
		<string>Venus</string>
		<string>Mars</string>
		<string>Jupiter</string>
		<string>Saturn</string>
		<string>Uranus</string>
		<string>Neptune</string>
		<string>Pluto</string>
		<string>PROJ_GEODESIC</string>
		<string>PROJ_LENGTH_UNIT</string>
		<string>PROJ_MEAN_RADIUS</string>
		<string>PROJ_SCALE_FACTOR</string>
		<string>PS_CHAR_ENCODING</string>
		<string>PS_COLOR_MODEL</string>
		<string>PS_COMMENTS</string>
		<string>PS_CONVERT</string>
		<string>PS_IMAGE_COMPRESS</string>
		<string>PS_LINE_CAP</string>
		<string>PS_LINE_JOIN</string>
		<string>PS_MEDIA</string>
		<string>PS_MITER_LIMIT</string>
		<string>PS_PAGE_COLOR</string>
		<string>PS_PAGE_ORIENTATION</string>
		<string>PS_SCALE_X</string>
		<string>PS_SCALE_Y</string>
		<string>PS_TRANSPARENCY</string>
		<string>TIME_EPOCH</string>
		<string>TIME_INTERVAL_FRACTION</string>
		<string>TIME_IS_INTERVAL</string>
		<string>TIME_REPORT</string>
		<string>TIME_SYSTEM</string>
		<string>TIME_UNIT</string>
		<string>TIME_WEEK_START</string>
		<string>TIME_Y2K_OFFSET_YEAR</string>
	</array>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMFileNamesToMatch</key>
	<array>
		<string>*GMT*.sh</string>
	</array>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>GMT.sh</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Comment Pattern</key>
		<string>(?x:(\#.*?$))</string>
		<key>String Pattern</key>
		<string><![CDATA[
						(?x:
    						("(\\"|[^"\r]|\\\r)*") | (?# Double-quote)
    						('(\\'|[^'\r]|\\\r)*')   (?# Single-quote)
						)
				]]>
		</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>end</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 2</key>
		<string>&apos;</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>\</string>
		<key>Escape Char in Strings 2</key>
		<string>\</string>
		<key>Identifier and Keyword Characters</key>
		<string>1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz.</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>begin</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Open Strings 2</key>
		<string>&apos;</string>
	</dict>
	<key>BBLMCommentLineDefault</key>
	<string>#</string>
</dict>
</plist>
